
	        <h2>The Future I See</h2>
	        <div class="home-grid">
	            <figure>
	                <img src="./img/eye.jpg" class="img-fluid" alt="Future Eye">
	                <figcaption>Eye of the future.</figcaption>
	            </figure>
	            <p>Since the world is growing rapidly with the rise of technology, I picture a the future to become more technically advanced. I feel AI has already grown rapidly and can see a future where humans and robotics become one of the same. I also feel that with the growth of technology, we will learn to forget how to communicate as we do now and adapt new ways. We can already see the massive growth of texting and lack of communication skills. Robots will become more humanistic, as we can already see lifelike artificial intelligent creations being made. It would be nice to have flying cars, but I don't see this happening any time soon, though I do picture bigger skyscraper buildings with many neon lights and video ads, as we have all seen in the movies.</p>
	        </div>
	        <hr>
	        <div class="home-grid">
	            <figure>
	                <img src="./img/building.jpg" class="img-fluid" alt="Future Building">
	                <figcaption>The future city</figcaption>
	            </figure>
	            <p>I picture corporations taking over the world, as well as greed, though I hope I am wrong. I feel though this is more of a western world view, and though I see places in Asia, such as Japan and China, becoming just as advance, I am not sure if many smaller countries will fallow. Though as sad as it is, I have noticed that English is becoming a universal language, and cultures are colliding, so this may cause a unity of culture in the future. I hope that there are still multiple languages spoken, and that there is a way that technology will advance so that everyone can communicate with one another through some sort of translation device, probably powered by Google. </p>
	        </div>
	        <hr>
	        <div class="home-grid">
	            <figure>
	                <img src="./img/planet.jpg" class="img-fluid" alt="Earth Future">
	                <figcaption>The planet is doomed!</figcaption>
	            </figure>
	            <p>"6.5 million tons of litter enter the world’s Ocean each year. 50% is long-lasting plastic that will drift for hundreds of years before it is degraded," says the <a href="https://www.worldoceannetwork.org/won-part-6/carem-wod-2014-4/thematic-resources-pollution/facts-figures-pollution/">World Ocean Network</a>. This is only one of the many problems we face with pollution in our world today. Issues like this have been happening for many years and have been ignored. This is a concern for our future of our planet. If we keep abusing it as we are, we will soon either die out from being smothered in our own filth, or end up seeking refugee on another planet, if possible. This has already been taken in consideration and the possibility of relocating to Mars has actually been discussed, though not tested. Let's instead focus on the care of this planet so that everyone can have a better future, and we can keep enjoying what Earth has to offer.</p>
	        </div>
	   