     <h2>The Ideas!</h2>
	            <div class="port">
	                <figure>
	                    <img src="./img/vr-world.jpg" class="img-fluid" alt="VR">
	                    <figcaption>Virtual reality is the new reality! Video games and virtual reality seems to be the new popular escape from the actual world when we don't want to face reality. I feel that VR and and actual reality will cause much mental and social confusion, in the future.</figcaption>
	                </figure>
	           
	                <figure>
	                    <img src="./img/lady-robot.jpg" class="img-fluid" alt="Lady Robot">
	                    <figcaption>Humans will use robotics as a means of health and self body modifcation. Robotics can help with physical illnesses aready. I picture roborics becoming so advanced that we will use it to fix our body parts either for functuality or beauty. People and roboics will become one.</figcaption>
	                </figure>
	            
	                <figure>
	                    <img src="./img/cute-robot.jpg" class="img-fluid" alt="Cute Robot">
	                    <figcaption>Robots are becoming more human like daily. By 2100, there will be functional humanoids. with the quick advancement or current humanoids, I figure by 2100, they will be so advanced that robots will seem human like. </figcaption>
	                </figure>
	            
	                <figure>
	                    <img src="./img/world.jpg" class="img-fluid" alt="Earth">
	                    <figcaption>The earth is in our hands. Let's takes care of it! Keep it safe and clean so future generations can live and enjoy this beautiful planet.</figcaption>
	                </figure>
	            
	                <figure>
	                    <img src="./img/flower.jpg" class="img-fluid" alt="Nature">
	                    <figcaption>Nature is important for all living creatures! We get so many great resources from nature, whether it be food, shelter, or just enjoying outdoor activities. If we keep treating the planet the way we do, nature will slowly die and us along with it. Remember, humans are a part of nature too. We need it to live!</figcaption>
	                </figure>
	       
	                <figure>
	                    <img src="./img/mars.png" class="img-fluid" alt="Mars">
	                    <figcaption><a href="https://mars.nasa.gov/#red_planet/0"> NASA </a> is already exploring the possibilities of migration to Mars. They have even found signs of of a possibility to have life form there. So in 2100, it could be possible to migrate there. Is this really a good idea? Or will we be as self-destructive to Mars as we are to Earth? Let's hope by 2100, we become respectful.</figcaption>
	                </figure>  
	           </div> 
	        
	  